{% extends "base.html" %}

{% block content %}
<div class="container">
  <center>
    <img src={{image_filename}}>
    {% if "epsilon" in image_filename %}
    <a href="{{ url_for("project_idea") }}">Idea</a>
    {% else %}
    <a href="{{ url_for("home") }}">Home</a>
    <a  target="_blank" style="float:right;" href=http://blogs.sas.com/content/sascom/2014/10/23/hadoop-and-connected-cars-why-automotive-execs-should-care-about-data>Image Source</a>
    {% endif %}
  </center>
</div>
{% endblock %}
